<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/demo.css">
  <title>mobile</title>
  <script src="/js/rem.js"></script>
</head>

<body>
  <div class="banner">
    <ul class="banner-list">
      <li><a href="http://www.qq.com"><img src="/img/img(1).jpg" alt="img"></a></li>
      <li><a href="http://www.qq.com"><img src="/img/img(2).jpg" alt="img"></a></li>
      <li><a href="http://www.qq.com"><img src="/img/img(3).jpg" alt="img"></a></li>
      <li><a href="http://www.qq.com"><img src="/img/img(4).jpg" alt="img"></a></li>
      <li><a href="http://www.qq.com"><img src="/img/img(5).jpg" alt="img"></a></li>
    </ul>
    <ul class="banner-dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <script src="/js/demo.js"></script>

</body>

</html>